<% if message.sender == current_user %>
  <div class="message">
    <%= image_tag(message.sender.avatar_url) %>
    <div class="bubble">
      <%= message.body %>
      <div class="corner"></div>
      <span><%= time_different_to_now(message) %></span>
    </div>
  </div>
<% else %>
  <div class="message right">
    <%= image_tag(message.sender.avatar_url) %>
    <div class="bubble">
      <% if !message.read? %>
        <div class="unread"><%= message.body %></div>
      <% else %>
        <%= message.body %>
      <% end %>
      <div class="corner"></div>
      <span><%= time_different_to_now(message) %></span>
    </div>
  </div>
<% end %>
