<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upchat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <!-- Navbar header -->
      <div class="row">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right mu-main-nav">
            <% if current_user %>
              <li><%= link_to current_user.name, "#", class: "nav-link" %></p></li>
              <li><%= link_to 'LOGOUT', logout_path, method: :delete, data: {confirm: "Are you sure?"}, class: "nav-link" %></li>
            <% else %>
              <li><%= link_to 'REGISTER', new_user_path, class: "nav-link" %></li>
              <li><%= link_to 'LOGIN', new_session_path %></li>
            <% end %>
            <%= flash_messages %>
          </ul>
        </div><!--/.nav-collapse -->
        <div class="nav navbar">
          <%= link_to "New message", new_message_path, class: "nav-link" %>
          <%= link_to "Add friend", friend_ships_new_path, class: "nav-link" %>
          <%= link_to "Sent message", outgoing_messages_path, class: "nav-link" %>
        </div>
      </div>
      <!-- End navbar header -->

      <%= flash_messages %>

      <!-- Content -->
      <div class="row">
        <!-- Side bar -->
        <div class="col-xs-4">
          <div class="box box-success">
            <!-- Start box header -->
            <div class="box-header controller">
              <strong>Friends</strong>
              <!-- <div class="col-xs-4 text-center active"><i class="sidebar-controller fa fa-comments-o" data-sidebar = "messages"></i></div>
              <div class="col-xs-4 text-center"><i class="sidebar-controller fa fa-users" data-sidebar = "users"></i></div>
              <div class="col-xs-4 text-center"><i class="sidebar-controller fa fa-user-plus" data-sidebar = "add_user"></i></div> -->
            </div>
            <!-- End box header -->

            <!-- Start box body -->
            <div class="box-body">
              <div id="sidebar">
                <!-- Sidebar component -->
                <%= render "users", users: friend_list %>
              </div>
            </div>
            <!-- End box body -->

            <!-- Start box footer -->
            <div class="box-footer">
              <div class="searchfield">
                <input type="text" value="Search friends" />
              </div>
            </div>
            <!-- End box footer -->
          </div>
          <!-- End box -->
        </div>
        <!-- End sidebar -->

        <!-- Message content -->
        <div class="col-xs-8">
          <!-- Box content -->
          <div class="box box-success">
            <!-- Box header -->
            <div id="chat-messages-header" class="box-header chat-messages-header">
              <strong> Wellcome to UpChat <strong>
            </div>
            <!-- End box header -->

            <!-- Box body -->
            <div class="box-body">
              <div id="chat-messages">
              </div>
            </div>
            <!-- End box body -->

            <!-- Box footer -->
            <div id="sendmessage" class="box-footer">
              <%= form_for @message, remote: true, class: 'form-inline' do |f| %>
                <%= f.hidden_field :recipient, value: 0, :id => 'recipient_id' %>
                <div class="col-xs-2 col-sm-2 footer-controller">
                  <%= button_tag(:id =>'search-button', type: 'button', :class => "btn btn-none") do %>
                    <i class="fa fa-paperclip"></i>
                  <% end %>
                  <%= button_tag(:id =>'search-button', type: 'button', :class => "btn btn-none") do %>
                    <i class="fa fa-smile-o"></i>
                  <% end %>
                </div>
                <%= f.text_field :body, class: 'col-xs-9 col-sm-9', placeholder: 'Send message...' %>
                <%= button_tag(:id =>'search-button', :class => "btn btn-none col-xs-1 col-sm-1", placeholder: "Search" ) do %>
                  <i class="fa fa-paper-plane"></i>
                <% end %>
              <% end %>
            </div>
            <!-- End box footer -->
          </div>
          <!-- End message content -->
        </div>
        <!-- End content -->
      </div>
      <%= yield %>
  </body>
</html>
